<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsm.dao.CourseDao">

    <!--查询课程信息-->
    <select id="selectCourseList" parameterType="CourseDo" resultType="CourseVo">
        select t.id,
               t.course_name,
               t.course_time,
               t.course_size,
               t.show_order,
               t.course_type
        from course_details t
        where t.course_type = #{courseType}
    </select>
</mapper>